{% extends 'global/base.html' %}
{% block title %}
Cadastrar anúncio
{% endblock title %}
{% block content %}
<h2 class="text-center">Cadastrar anúncio</h2>
<form method="post" class="py-5 my-5" action="." enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group py-2">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{field}}
        {{field.errors}}
    </div>
    {% endfor %}
    <div class="form-group my-2">
        <input type="file" name='images' class="form-control-file" multiple required>
      </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock content %}