
{% extends 'global/base.html' %}

{% block title %}Apagar a residência: {{residence.title}}{% endblock title %}

{% block content %}
<div class="content">
    <div class="content-form">
        <h1>APAGAR RESIDÊNCIA</h1>
        <form method="post" class="forms">
            {% csrf_token %}
            <p>Você tem certeza que quer apagar a residência: "{{ residence.title }}" ?</p>
            <button type="submit" class="btn btn-danger">Apagar</button>
        </form>
    </div>
</div>

{% endblock %}