{% extends 'global/base.html' %}
{% load static %}
{% block title %}{{residence.title}}{% endblock title %}

{% block content %}
<h2>Residência: {{residence.title}}</h2>
<div class="row row-cols-1">
  <div class="col">
    <div class="galeria">
    {% for photo in residence.photos.all %}
      <div class="text-center">
          <img src="{{photo}}" alt="sla" class="rounded img-fluid p-5">
      </div>
      {% endfor %}
    </div>
      <p class="text-center"><strong>Preço:</strong> {{residence.price}}/mês</p>

      <p class="text-center"><strong>Cidade:</strong> {{residence.city}}</p>
      <p class="text-center"><strong>Localizado na rua:</strong> {{residence.street}}</p>
      <p class="text-center"><strong>No bairro:</strong> {{residence.district}}</p>
      <p class="text-center"><strong>Número:</strong> {{residence.number}}</p>
      <p class="text-center"><strong>Complemento:</strong> {{residence.complement}}</p>
      <p class="text-center"><strong>Publicada em:</strong> {{residence.created_at}}</p>
      <p class="text-center"><strong>Atualizado em:</strong> {{residence.updated_at}}</p>
      <p class="text-center"><strong>Mais informações:</strong> {{residence.description}}</p>
      <p class="text-center"><strong>Número de banheiros:</strong> {{residence.bathrooms}}</p>
      <p class="text-center"><strong>Número de quartos:</strong> {{residence.bedrooms}}</p>
      <p class="text-center"><strong>Contato:</strong> {{residence.owner.phone_number}}</p>
      
      <div class="mapContainer">
        <div style="text-center">
          <div id="myMap" class="mx-auto" style="display:flex; align-items: center;"></div>
        </div>
      </div>
  </div>
</div>
{{latitude|json_script:"json-latitude"}}
{{longitude|json_script:"json-longitude"}}
<script type='text/javascript'>
  var map,contextMenu,loc;
  const latitude = JSON.parse(document.getElementById('json-latitude').textContent);
  const longitude = JSON.parse(document.getElementById('json-longitude').textContent);
  function GetMap()
		{
			loc = new Microsoft.Maps.Location(latitude, longitude);
			map = new Microsoft.Maps.Map('#myMap', 
			{
				showDashboard: false,
				center: loc,
        zoom: 18,
			});
    }
</script>

<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkyIf2429XZZUarwmIZIeXHsB9te9u_byrn-_qzUMiz1AU0qUuvs6oiXdj56TDUu' async defer></script>

{% endblock content %}